<div ng-controller="BasicCtrl">
  <h2>Getting Started with <a href="http://www.jstree.com/" target="_blank">jsTree</a>  <a href="http://www.angularjs.org" target="_blank">Angularjs</a> Directive</h2>
  <hr/>
  <h5>
    Steps : 
    <ol>
      <li>Download
        <a href="https://raw.githubusercontent.com/arvindr21/jsTree-Angular-Directive/master/jsTree.directive.js">
          <code>jsTree.directive.js</code>
        </a>
        OR run
        <code>bower install jstree-directive</code>
      </li>
      <li>Include the reference in your
        <code>index.html</code>
      </li>
      <li>Add
        <code>'jsTree.directive'</code>as a dependency to your app and you can use the below config to setup your tree</li>
    </ol>
  </h5>



  <div>
    <div class="col-50p">
      <h4>Load Static Tree - HTML input</h4>
      <hr>Set
      <code>tree-data="html"</code>and
      <code>tree-src="/path/to/html"</code>
      <br/>
      <br/>
      <pre><code>&lt;js-tree tree-data="html" tree-src="../jstree/data/tree-html.html">&lt;/js-tree></code></pre>
      <br/>Static HTML format
      <pre><code>&lt;ul>
  &lt;li>Root node 1
    &lt;ul>
      &lt;li id="child_node_1">Child node 1&lt;/li>
      &lt;li>Child node 2&lt;/li>
      &lt;li data-jstree='{"opened":true,"selected":true}'>Root
        &lt;ul>
          &lt;li data-jstree='{"disabled":true}'>Child&lt;/li>
          &lt;li data-jstree='{"icon":"/jstree/imgs/tree.png"}'>
            Child&lt;/li>
        &lt;/ul>
      &lt;/li>
    &lt;/ul>
  &lt;/li>
  &lt;li>Root node 2&lt;/li>
&lt;/ul></code></pre>
      <br/>Angular Directive Integration
      <br/>
      <pre><code>var app = angular.module('treeDemo', ['jsTree.directive'])</code></pre>
    </div>
    <div class="col-30p">
      <h4>Demo</h4>
      <hr>
      <js-tree tree-data="html" tree-src="../jstree/data/tree-html.html"></js-tree>
    </div>
  </div>
  <hr/>
  <div>
    <div class="col-50p">
      <h4>Load Static Tree - JSON input</h4>
      <hr>Set
      <code>tree-data="json"</code>and
      <code>tree-src="/path/to/json"</code>
      <br/>
      <br/>
      <pre><code>&lt;js-tree tree-data="json" tree-src="../jstree/data/tree-json.json">&lt;/js-tree></code></pre>
      <br/>Static JSON format
      <pre><code>[{
  "id": "ajson1",
  "parent": "#",
  "text": "Simple root node"
}, {
  "id": "ajson2",
  "parent": "#",
  "text": "Root node 2"
}, {
  "id": "ajson3",
  "parent": "ajson2",
  "text": "Child 1"
}, {
  "id": "ajson4",
  "parent": "ajson2",
  "text": "Child 2"
}]
</code></pre>
      <br/>Angular Directive Integration
      <br/>
      <pre><code>var app = angular.module('treeDemo', ['jsTree.directive'])</code></pre>
    </div>
    <div class="col-30p">
      <h4>Demo</h4>
      <hr>
      <js-tree tree-data="json" tree-src="../jstree/data/tree-json.json"></js-tree>
    </div>

  </div>


 <div>
    <div class="col-50p">
      <h4>Load Static Tree - From model in scope</h4>
      <hr>Set
      <code>tree-data="scope"</code>and
      <code>tree-model="treeModel"</code>
      <br/>
      <br/>
      <pre><code>&lt;js-tree tree-data="json" tree-model="treeModel">&lt;/js-tree></code></pre>
      <br/>JSON format in Model
      <pre><code>[{
  "id": "ajson1",
  "parent": "#",
  "text": "Simple root node"
}, {
  "id": "ajson2",
  "parent": "#",
  "text": "Root node 2"
}, {
  "id": "ajson3",
  "parent": "ajson2",
  "text": "Child 1"
}, {
  "id": "ajson4",
  "parent": "ajson2",
  "text": "Child 2"
}]
</code></pre>
      <br/>Angular Directive Integration
      <br/>
      <pre><code>var app = angular.module('treeDemo', ['jsTree.directive'])</code></pre>
    </div>
    <div class="col-30p">
      <h4>Demo</h4>
      <hr>
      <js-tree tree-data="scope" tree-model="treeModel"></js-tree>
    </div>

  </div>

</div>
